<form action='/' method='get'>
  <input name='movie' type='text' placeholder='enter movie title' />
  <button>Search Movie</button>
</form>

<div class="content">
  <p>Title: <%= @result["Title"] %> </p>
  <p>Genre: <%= @result["Genre"] %> </p>
  <p>Year: <%= @result["Year"] %> </p>
  <p>Rating: <%= @result["imdbRating"] %> </p>
  <p>Actors: <%= @result["Actors"] %> </p>
  <p>Plot: <%= @result["Plot"] %> </p>
</div>
<div class="aside">
  <img src= <%= @result["Poster"] %>>
</div>
