<h1><%=@result_single['Title']%></h1>
<p><%=@result_single['Year']%></p>
<p><%=@result_single['Rated']%></p>
<p><%=@result_single['Genre']%></p>
<p><%=@result_single['Director']%></p>
<p><%=@result_single['Actors']%></p>
<p><%=@result_single['Plot']%></p>
<p><%=@result_single['imdbRating']%></p>

<a href="/">Back to search page</a>
