<a href="/cakes">Back to cakes</a>

<h1><%= @cake.name %> </h1>
<p>Difficulty Level: <%= @cake.difficulty %></p>
<p>Description: <%= @cake.description %></p>
<p>Serves: <%= @cake.serves %></p>
<img src="<%= @cake.image %>">
